name: dagger
on:
  push:
    branches: [main]

jobs:
  build-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Call Dagger Function to build and publish to ghcr.io
        uses: dagger/dagger-for-github@v5
        with:
          version: "latest"
          verb: call
          args: publish --registry=ghcr.io --username=$DOCKER_USERNAME --password=env:DOCKER_PASSWORD --source=.
        env:
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
